<html>
  <head>
    <title>To-Do-Task</title>

    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet" />

    <link href="/styles.css" rel="stylesheet" />
  </head>

  <body>
    <div class="container">
      <h1 style="text-align: center;">App de tareas pendientes</h1>

      <form action="/addtask" method="POST">
        <input
          class="input"
          type="text"
          name="newtask"
          placeholder="Agrega una nueva tarea"
          required />
        <button class="button" >Agregar Tarea</button>
      </form>

      <h2>Tareas Agregadas</h2>
      <form action="/removetask" method="POST">
        <% for(var i = 0; i < task.length; i++){ %>
        <li>
          <label class="container-chek">
            <input
              class="checkmark"
              name="check"
              type="checkbox"
              value="<%= task[i] %>" />
            <div class="checkmark"></div>
          </label>
          <%= task[i] %>
        </li>
        <% } %>
        <button class="button" type="submit">
          Eliminar Tareas Seleccionadas
        </button>
      </form>

      <h2>Tareas Completadas</h2>
      <% for(var i = 0; i < complete.length; i++){ %>
      <li>
        <label class="container-chek">
          <input type="checkbox" checked disabled />
          <div class="checkmark"></div>
        </label>

        <%= complete[i] %>
      </li>
      <% } %>

      <form action="/cleartasks" method="POST">
        <button class="button" type="submit">Borrar Todas las Tareas</button>
      </form>
    </div>
  </body>
</html>
